@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
    background: rgb(250, 208 , 0);
    font-family: 'Open Sans';
}

header h1{
    margin: 0px;
    font-size: 3em;
}
.container{
    display: flex;
    width: 60%;
}
.ser{
    display: flex;
    align-items: center;
}
#box{
    border: solid;
    width: 2em;
    height: 4em;
    font-size: 3em;
    color: white;
    margin-right: 10%;
}
#texto{
    font-size: 2em;
}
#subtexto{
    text-align: justify;
    margin: 5%;
    font-size: 1.8em;;
}
.imagens{
    display: flex;
    justify-content: center;
}
.icon{
    width: 15%;
}
.form{
    background:whitesmoke;
    position: absolute;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border-radius: 2% 0% 0% 2%;
    box-shadow: 0px 0px 10px 10px rgb(0, 0, 0, 0.1);
    width: 35% ;
    padding: 2% 2% 4% 2%;
}
#inscricao{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    line-height: 1.5em;
}
.input{
    display:flex;
    flex-direction: column;
}
.titleInput{
    font-size: 1.2em;
    line-height: 3em;
}
.campo{
    border-radius: 5px;
    border: none;
    font-family: 'Open Sans';
    resize: none;
    font-size: 1.2em;
}
#button{
    border-radius: 30em;
    background: rgb(0,0,0, 0.8);
    padding: 1%;
    color: whitesmoke;
    font-family: 'Open Sans';
    font-weight: bolder;
    font-size: 1.1em;
    width: 40%;
    border: none;
    cursor: pointer;
    align-self: center;
}
#privacidade{
    font-size: 1em;
    line-height: 0em;
}

@media (max-width: 800px){
    .container{
        flex-direction: column;
        margin-top: 5%
    }
    .ser{
        width: 150%;
    }
    #box{
        font-size: 2em;
        margin: 0% 20% 0% 10%;
    }
    #texto{
        font-size: 1.5em;
    }
    .comunidade{
        width: 160%;
        margin: 15% 0%;
    }
    #subtexto{
        text-align: center;
        margin: 15% 5%;
        font-size: 1.4em;;
    }
    .icon{
        width: 35%;
    }
    .form{
       position: initial;
       border-radius: 15px;
       box-shadow: 0px 0px 10px 10px rgb(0, 0, 0, 0.1);
       width: 145% ;
       padding: 10%;
    }
    #inscricao{
        font-size: 1.1em;
        line-height: 1.5em;
    }
    .titleInput{
        font-size: 1em;
        line-height: 3em;
    }
    .campo{
        border-radius: 5px;
        border: none;
        font-family: 'Open Sans';
        resize: none;
        font-size: 1em;
    }
    #button{
        border-radius: 30em;
        background: rgb(0,0,0, 0.8);
        padding: 1%;
        color: whitesmoke;
        font-family: 'Open Sans';
        font-weight: bolder;
        font-size: 0.8em;
        width: 40%;
        border: none;
        cursor: pointer;
        align-self: center;
    }
    #privacidade{
        font-size: 1em;
    }
}